dist
node_modules

*.exe
vencord_installer

.idea
.DS_Store

yarn.lock
bun.lock
package-lock.json

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*
*.tsbuildinfo

ExtensionCache/
settings/
/.vs/Vencord/copilot-chat/b9c59b6c/sessions
/.vs/Vencord/CopilotIndices
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/slnx.sqlite-journal
/.vs/CMakeWorkspaceSettings.json
/.vs/Vencord/v17/.wsuo
/.vs/Vencord/v17/DocumentLayout.backup.json
/.vs/Vencord/v17/workspaceFileList.bin
/.vs/Vencord/v17/DocumentLayout.json
/.vs/Vencord/FileContentIndex/268af8a2-e05a-40b4-9621-5fd2da10f9c4.vsidx
/.vs/Vencord/FileContentIndex/d4cf6f90-64c4-46eb-9bd5-39d49ab08a5e.vsidx
/.vs/Vencord/FileContentIndex/e547266f-1cff-4080-afc5-88326b6214c9.vsidx
/.vs/Vencord/FileContentIndex/e660db78-55df-4979-847b-049cb620994b.vsidx
/.vs/Vencord/FileContentIndex/eda6db73-5e92-4e4f-aff3-4aeab2894e6e.vsidx
/.vs/Vencord/FileContentIndex/d7ed7fc0-68d1-4278-9cf4-05ed940ee901.vsidx
/.vs/Vencord/FileContentIndex
